*{
    margin:0;
    padding:0px;
}
body{
    background-color:#BBDBD1 ;
     text-align: center; 
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top:50px;
    left:35%; */
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 5px;
    border: none;
    box-shadow:3px 3px rgb(109, 150, 137) ;
    font-size: 8vmin;
    color:#7E78D2;
    background-color:#ffffc7 ; 

}
#reset-btn{
    padding: 0.5rem;
    background-color:black;
    color:white;
    font-size:1.25rem;
    
    border-radius: 1rem;
    border:none;

 

}
#newbtn{
    padding: 0.5rem;
    background-color:black;
    color:white;
    font-size:1.25rem;
    
    border-radius: 1rem;
    border:none;
}
#msg{
    color: #ca1717;
    font-size: 5vmin;
}
.msg-container{
    height:100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide{
    display:none;
}